.objects/
.screenshots/
.storage/
.tmh/
.local/
.project
.settings/


Data/*
!Data/*.txt
Data/*.xlsx
Data/*.csv


IntermediateOutputs/
Output/
Logs/


dirs.txt


*.user
*.local
*.cache
*.log
.env
.env.*
Thumbs.db
Desktop.ini
.DS_Store


bin/
obj/
.vs/
.idea/
